:root {
  font-family: 'Titillium Web', serif;
  line-height: 1.5;
  font-weight: 400;
  color: floralwhite;
  background-color: #010101;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
  scrollbar-color: #262626 transparent;
  scrollbar-width: thin;
}

a {
  color: dimgray;
  display: inline-flex;
  text-decoration: none;
  transition: all 0.3s ease;

  &:focus {
    outline: none;
    color: wheat;
  }

  &:hover {
    color: orange;
  }
}

h1 {
  font-size: 2.7em;
  line-height: 1.1;
  margin: 0;
}

button {
  border-radius: 50%;
  width: 76px;
  height: 76px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  border: 0;
  font-size: 1.1em;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  opacity: 0.9;
  border: 1px solid #000;

  &:hover {
    opacity: 0.8;
  }

  &:focus,
  &:focus-visible {
    outline: none;
    opacity: 1;

    &:hover {
      opacity: 0.8;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
    pointer-events: none;
  }
}

.primary {
  background-color: darkgreen;
  color: mediumspringgreen;
}

.danger {
  background-color: darkred;
  color: tomato;
}

.default {
  background-color: rgb(88, 87, 87);
  color: floralwhite;
}

.primary-color {
  color: mediumspringgreen;
}

.danger-color {
  color: tomato;
}

.default-color {
  color: floralwhite;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
