#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em 0.625em;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.face {
  position: relative;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.face-inner {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  top: 45px;
  left: 0;
  right: 0;
}

.hand {
  position: absolute;
  width: 2px;
  height: 150px;
  background: orange;
  top: 0px;
  left: 50%;
  transform-origin: 50% 100%;
}

.hand:after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #141414;
  border: 2px solid orange;
  bottom: -4.5px;
  left: -3.5px;
}

.hand:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 30px;
  background: orange;
  bottom: -30px;
  left: 50%;
  top: auto;
  margin-left: -1px;
}

.sign {
  font-family: 'Allison', serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: darkgrey;
  font-style: normal;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 59%;
  left: 0;
  right: 0;
  width: max-content;
  margin: 0 auto;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 1px;
}

.timer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  bottom: 73px;
  left: 0;
  right: 0;
  width: max-content;
  margin: 0 auto;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
}

.timer span {
  position: relative;
  width: 18px;
}

.timer span:nth-child(1):after,
.timer span:nth-child(2):after {
  position: absolute;
  display: inline-block;
  color: gainsboro;
}

.timer span:nth-child(1):after {
  content: ':';
  right: -7.5px;
  top: -1px;
}

.timer span:nth-child(2):after {
  content: ',';
  right: -5.5px;
  top: 0;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 1rem;
}
