#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em 0.625em;
  text-align: center;
  height: calc(100vh - 4em);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.face {
  position: relative;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.face-inner {
  position: absolute;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  top: 50px;
  left: 0;
  right: 0;
}

.hand {
  position: absolute;
  width: 2px;
  background: orange;
  top: 0px;
  left: 50%;
  transform-origin: 50% 100%;
  margin-left: -1px;
  z-index: 3;
}

.hand-lap {
  z-index: 2;
}

.hand .hand-center {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #141414;
  border-width: 2px;
  border-style: solid;
  border-color: inherit;
  bottom: -4.5px;
  left: -3.5px;
}

.hand .hand-end {
  position: absolute;
  width: 2px;
  height: 28px;
  bottom: -32px;
  left: 50%;
  top: auto;
  margin-left: -1px;
}

.hand-inner {
  z-index: 1;
}

.hand-inner .hand-center {
  width: 0;
  height: 0;
  border-width: 2.5px;
  bottom: -3px;
  left: -1.7px;
}

.hand-inner .hand-end {
  display: none;
}

.sign {
  font-family: 'Allison', serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: darkgrey;
  font-style: normal;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 60%;
  left: 0;
  right: 0;
  width: max-content;
  margin: 0 auto;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 1.1px;
}

.timer-wrapper {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  width: max-content;
  margin: 0 auto;
  font-size: 1.2rem;
}

.timer-wrapper .timer {
  gap: 0.1rem;
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer b {
  font-style: normal;
  font-weight: 300;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.github-link {
  position: fixed;
  bottom: -0.5px;
  right: 8px;
}

.lap-list {
  position: relative;
  display: flex;
  gap: 0;
  flex-direction: column;
  width: calc(100% + 10px);
  height: 100%;
  max-height: 207px;
  margin-top: 1.5rem;
  overflow-y: scroll;
  transition: height 0.3s ease;
}

.lap-list li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin-left: 10px;
  margin-right: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.lap-list li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
