#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2em 0.625em;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.face {
  position: relative;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.face-inner {
  position: absolute;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  top: 50px;
  left: 1px;
  right: 0;
}

.hand {
  position: absolute;
  width: 2px;
  background: orange;
  top: 0px;
  left: 50%;
  transform-origin: 50% 100%;
  z-index: 2;
}

.hand .hand-center {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #141414;
  border-width: 2px;
  border-style: solid;
  border-color: inherit;
  bottom: -6.5px;
  left: -3.5px;
}

.hand .hand-end {
  position: absolute;
  width: 2px;
  height: 28px;
  bottom: -34px;
  left: 50%;
  top: auto;
  margin-left: -1px;
}

.hand-inner {
  z-index: 1;
}

.hand-inner .hand-center {
  width: 0px;
  height: 0px;
  bottom: -2px;
  left: -1.5px;
}

.hand-inner .hand-end {
  display: none;
}

.sign {
  font-family: 'Allison', serif;
  font-weight: 400;
  font-size: 1.15rem;
  color: darkgrey;
  font-style: normal;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 59%;
  left: 0;
  right: 0;
  width: max-content;
  margin: 0 auto;
  text-shadow: 1px 1px 1px black;
  letter-spacing: 1.1px;
}

.timer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  bottom: 72px;
  left: 0;
  right: 0;
  width: max-content;
  margin: 0 auto;
  color: white;
  font-size: 1.2rem;
  font-weight: 300;
}

.timer span {
  position: relative;
  width: 18px;
}

.timer span:nth-child(1):after,
.timer span:nth-child(2):after {
  position: absolute;
  display: inline-block;
  color: gainsboro;
}

.timer span:nth-child(1):after {
  content: ':';
  right: -7.5px;
  top: -1px;
}

.timer span:nth-child(2):after {
  content: ',';
  right: -5.5px;
  top: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
  margin-top: -2rem;
}

.github-link {
  position: absolute;
  bottom: -0.5px;
  right: 6px;
}
