:root {
  font-family: 'Fira Sans', serif;
  line-height: 1.5;
  font-weight: 400;
  color: whitesmoke;
  background-color: #121212;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2.7em;
  line-height: 1.1;
  margin: 0;
}

button {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  border: 0;
  padding: 5px;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  opacity: 0.85;
}

button:focus,
button:focus-visible {
  outline: none;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.primary {
  background-color: rgba(34, 139, 34, 0.4);
  color: springgreen;
}

.warning {
  background-color: rgba(192, 24, 24, 0.6);
  color: red;
}

.default {
  background-color: gray;
  color: whitesmoke;
}
