:root {
  font-family: 'Titillium Web', serif;
  line-height: 1.5;
  font-weight: 400;
  color: whitesmoke;
  background-color: #121212;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 400;
  color: darkgray;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:focus,
a:visited {
  outline: none;
  color: darkgray;
}

a:hover {
  color: orange;
}

h1 {
  font-size: 2.7em;
  line-height: 1.1;
  margin: 0;
}

button {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  border: 0;
  padding: 5px;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  opacity: 0.85;
}

button:focus,
button:focus-visible {
  outline: none;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}

.primary {
  background-color: darkgreen;
  color: mediumspringgreen;
}

.danger {
  background-color: darkred;
  color: tomato;
}

.default {
  background-color: dimgray;
  color: whitesmoke;
}

.primary-color {
  color: mediumspringgreen;
}

.danger-color {
  color: tomato;
}

.default-color {
  color: white;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
